.messagecontent{
    height: 556.4px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.messages{
    padding-top : 8px;
}

.msgheader{
    height: 78px !important;
}

.videobox{
    position: absolute;
    top: -20%;
    left: 115%;
}