@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.userinfo_grid_row{
    padding-top : 1.3rem;

}

.userinfo_grid_row .logo span{
    font-size: 35px;
    font-family: 'Caveat', cursive;
    top: -13px !important;
    left: 10px !important;
    position: relative !important;
}

.userinfo_grid_row .logo img{
    height: 40px;
    width: 40px;
}

.userinfo_displayname{
    padding-bottom: .5rem !important;
}

.userinfo_displayname .displayname_box{
    width: 100% !important;
}

.userinfo_displayname .displayname_box .name_box{
    position: relative !important;
    left: 7px !important;
}

hr{
    margin-top: 10px !important;
}