.content-center {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pulse .Icon{
    margin-left: 18px;
    margin-top: 15px;
    font-size: 50px;
}

.pulse{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: solid 1px rgb(252, 241, 241);
	animation: call 1.5s ease infinite;
	color: aliceblue;
	font-size: 35px;
	font-weight: bold;
	position: relative;
}

@keyframes call {
	15% {
		box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
	}
	25% {
		box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.5),
					0 0 0 16px rgba(255, 255, 255, 0.3);
	}
	30% {
		box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.5),
					0 0 0 24px rgba(255, 255, 255, 0.3);
	}
}

.btn{
    border-radius: 10px !important;
    padding-left: 30px !important;
}

.btn-R{
    background-color: red !important;
    color: white !important;
    border-radius: 10px !important;
    padding-left: 30px !important;
}

.btn1{
	border-radius: 10px !important;
    padding-left: 30px !important;
}

.btn1:hover{
 background-color: red !important;
 color: white !important;
}