.ui.menu .item{
    color : rgb(180,180,185) !important;
}

.ui.menu .item:hover{
    background-color: #33414b !important;
    border-radius: 5px !important;
}

.clickable:hover{
    cursor: pointer;
}

.ui.menu .item.active{
    background : #4169E1 !important;
    border-radius: 5px !important;
    color: black !important;
}

.ui.menu .itemlist{
    overflow-y:scroll !important;
    max-height: 140px !important;
}

.ui.menu .list_tag{
    color: white !important;
}

.ui.menu .item .clickable{
    color: red !important;
}